@import '../../util/util';

.signup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 100%;
  width: 100%;

  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    width: 30rem;

    button {
      margin: auto;
    }
    input {
      width: 95%;
    }

    
    @include breakpoint(600px) {
      width: 80%;
    }

    @include md {
      input {
        width: 92%;
      }
    }
  }
}