@import '../../util/util';

.card {
  cursor: pointer;
  display: flex;
  height: 25rem;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  width: 30rem;
  transition: transform 0.3s ease-in-out;
  .card-img {
    border-radius: 6px;
    width: 100%;
    height: 55%;
    object-fit: cover;
    object-position: center;
  }

  .card-title {
    font-size: $card-title;
  }
  .card-sub-title {
    font-size: $card-sub-title;
    line-height: 1.5;
  }

  .author {
    font-size: $author;
    font-weight: 500;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .by {
      align-items: center;
      gap: 0.5rem;
      display: flex;
      .author-profile {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &:hover {
    transform: scale(0.98);
  }
}